@import '../../index.module.scss';

.appear-enter {
  opacity: 0;
}
.appear-enter-active {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.container {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: $bgColor;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
  overflow: hidden;

  a {
    text-decoration: none;
    color: $primeColor;

    &:hover,
    &:visited {
      color: $primeColor;
    }
  }

  .poster {
    height: 100%;
    position: relative;
    overflow: hidden;

    img {
      max-width: 300px;
      height: 100%;
    }

    .rating {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 1em;
      padding: 0.5em;
      box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
      background-color: $bgColor;
      border-radius: 30px;
      display: flex;
      align-items: center;
      font-size: 0.8em;

      svg {
        width: 1em;
        height: 1em;
        fill: url(#StarGradient);
      }
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    padding-left: 1em;
    width: 60%;

    header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: start;
      width: 100%;
      margin-bottom: 0.5em;

      .title {
        flex-grow: 1;
        margin: 0 0 0.3em 0;
      }

      .genres {
        margin: 0;
      }
    }

    .overview {
      overflow: scroll;
      margin: 0;
    }
    .overviewLarge {
      display: none;
      overflow: scroll;
      margin: 0;
    }

    @media only screen and (min-width: 900px) {
      .overview {
        display: none;
      }

      .overviewLarge {
        display: block;
      }
    }
  }

  .actions {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.3em;
    width: 13%;
  }
}
