.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.moviesContainer {
  width: 90%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  row-gap: 2em;
  column-gap: 2em;
  margin-bottom: 2em;

  @media only screen and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

